<!DOCTYPE html>
<html>
  <head>
    <title>YnabClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="container">
      <div id="sidebar">
      </div>
      <div id="sidebar-border" draggable="true">
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
  <script>
    const container = document.getElementById('container');
    container.addEventListener('drop', drop_handler);
    container.addEventListener('dragover', drop_handler);

    const sidebarBorder = document.getElementById('sidebar-border');
    container.addEventListener('dragstart', dragstart_handler);

    function dragstart_handler(ev) {
      // TODO: Maybe use Stimilus instead
      ev.dataTransfer.effectAllowed = 'move';
    }
    function drop_handler(ev) {
      ev.preventDefault();
      ev.dataTransfer.dropEffect = 'move'
      document.getElementById('sidebar').style.width = ev.clientX + 'px';
    }
  </script>
</html>
